node_modules/
build/
dist/
*.dll
*.obj
*.exe
.env
*.pdb
*.lib
*.exp
out/
.vs/
CMakeUserPresets.json
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/
.user
*.log

# CodeQL build artifacts
_codeql_build_dir/
_codeql_detected_source_root
