<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="go-mapi suite" Manufacturer="go-mapi"
    Version="$(var.MsiProductVersion)" UpgradeCode="$(var.UpgradeCode)"
    ProductCode="$(var.ProductCode)" Scope="perMachine"
    InstallerVersion="500" Compressed="yes">
    <SummaryInformation Description="go-mapi machine system and all-users app" />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
    <Feature Id="SuiteProduct" Title="go-mapi suite" Level="1" AllowAbsent="no">
      <ComponentGroupRef Id="InterceptorComponents" />
      <ComponentGroupRef Id="ResidentServiceComponents" />
      <ComponentGroupRef Id="SystemHealthComponents" />
      <ComponentGroupRef Id="SuiteUserComponents" />
    </Feature>

    <?include MachinePackage.wxi ?>
  </Package>
</Wix>
